:root {
    --color-paragraph: 212121;
    --white: #FCF7F5;
    --green: #BDD68A;
    --pink: #F7C0B4;
    --blue: #7EB4C7;
    --yellow: #FED749;
    --orange: #F08C67;
    --turquoise: #8FCAAE;
    --black: #212121;
    --purple: #CDB0E8;

    --font-title: 'Indie Flower';
    --font-paragraph: 'Raleway', sans-serif;
    --home-btn: 200px;
    
}

a{
    text-decoration: none;
    color: var(--white);
}

body {
    margin: 0px;
}

.homePage {
    background-color: var(--blue);
    font-family: var(--font-title);
}

.logInInput {
    height: 40px;
    width: 200px;
    margin: 10px;
}

.createAc {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px;
}

.createAcBold {
    grid-column: 3;
    grid-row: 3;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: var(--orange);
    cursor: pointer;
    font-weight: bolder;
    margin-top: 60px;
    text-decoration: none;
    width: 120px;
    justify-self: center;
    height: 10px;
}

.createAcBold:hover {
    color: var(--blue);
}

.back {
    grid-column: 5;
    display: flex;
    justify-content: end;
    padding: 20px;
}

.backToHome {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: var(--white);
    font-size: 30px;
    font-family: var(--font-title);
    transition: all .5s;
    box-shadow: 5px 5px 5px #212121;
    font-family: var(--font-title);
}

.backToHomeCreateAs {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: var(--white);
    font-size: 30px;
    font-family: var(--font-title);
    transition: all .5s;
    box-shadow: 5px 5px 5px #212121;
    position: absolute;
    right: 3%;
    top: 27%;
    /* font-family: var(--font-paragraph); */
}

.backToHome:hover, .backToHomeCreateAs:hover{
    background-color: var(--orange);
}

.homePagebuttonOne {
    height: var(--home-btn);
    width: var(--home-btn);
    border-radius: 100px;
    background-color: var(--pink);
    position: relative;
    left: 66vw;
    top: -140vh;
    font-size: 30px;
    font-family: var(--font-title);
    transition: all .5s;
    box-shadow: 5px 5px 5px #212121;
}

.homePagebuttonTwo {
    height: var(--home-btn);
    width: var(--home-btn);
    border-radius: 100px;
    background-color: var(--white);
    position: relative;
    left: 65vw;
    top: -130vh;
    font-size: 34px;
    font-family: var(--font-title);
    transition: all .5s;
    box-shadow: 5px 5px 5px #212121;
}

.homePagebuttonThree {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--pink);
    margin-left: 50px;
    margin-top: 30px;
    font-family: var(--font-title);
    transition: all .5s;
    box-shadow: 5px 5px 5px #212121;
    font-size: 20px;
    margin-bottom: 20px;
}

.homePagebuttonOne:hover {
    background-color: var(--white);
    cursor: pointer;
}

.homePagebuttonTwo:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.homePagebuttonThree:hover {
    background-color: var(--white);
    cursor: pointer;
}

.homePageTitle {
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePageImgOne {
    background-image: url(Images/dog_banana.jpg);
    height: 450px;
    width: 450px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    border: 10px solid var(--green);
    position: relative;
    left: -3vw;
    top: -10vh;
}

.homePageImgTwo {
    height: 650px;
    width: 650px;
    background-image: url(Images/woman-with-dog.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 100%;
    border: 10px solid var(--orange);
    position: relative;
    left: 21vw;
    top: -38vh;
}

.homePageImgThree {
    height: 400px;
    width: 400px;
    background-image: url(Images/puppy.jpg);
    background-size: cover;
    background-position: bottom;
    border: 10px solid var(--yellow);
    position: relative;
    border-radius: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--turquoise);
}

.one {
    background-color: var(--white);
    border-radius: 100px;
    min-height: 360px;
    width: 400px;
    padding: 20px;
    border: 8px solid var(--purple);
}

#profileDog {
    height: 15%;
    width: 15%;
    border-radius: 100px;
    border: 8px solid var(--orange);
    z-index: 1;
    position: relative;
    top: 20vh;
    left: -250px;
}

.dogName {
    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 35px;
}

.one > div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: left;
}

.bold {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.bold > p {
    display: flex;
    margin: 0px;
    font-weight: normal;
    padding-left: 5px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 200px;
}

.two {
    background-color: var(--yellow);
    padding: 30px;
    border-radius: 100px;
    border: 8px solid var(--pink);
    z-index: 1;
    position: relative;
    left: 270px;
    bottom: 15vh;
}

.two > p:first-child {
    margin-bottom: 0px;
}

.two > p:last-child {
    margin-top: 10px;
}

.three {
    background-color: var(--pink);
    padding: 30px;
    border-radius: 100px;
    border: 8px solid var(--orange);
    z-index: 1;
    position: relative;
    bottom: 200px;
    max-width: 250px;
}

.three > .bold {
    justify-content: center;
    margin-bottom: 0px;
}

.three > p:last-child {
    margin-top: 10px;
    font-size: 20px;
}

.partOne {
    height: 145vh;
}

.partOne > div:nth-child(1) {
    padding-top: 30px;
}

.partTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#first {
    grid-column: 1;
    grid-row: 1;
}

#first > div:nth-child(1) {
    padding-left: 50px;
    font-size: 60px;
}

#first> div:nth-child(2) {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 25px;
}

#second {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logIn {
    display: grid;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    height: 59%;
    background-color: var(--green);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.logInText {
    text-align: center;
    font-size: 50px;
    display: flex;
    grid-column: 3;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error {
    font-size: 35px;
}

.errorCreate {
    color: red;
}

.form, #updateDogInfo{
    grid-column: 3;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form > input:first-child {
    margin: 0px;
}

input {
    height: 40px;
    margin: 10px;
}

button {
    height: 80px;
    width: 80px;
    margin: 20px;
    border-radius: 100%;
    background-color: var(--white);
    transition: all .5s;
    box-shadow: 5px 5px 5px #212121;
    font-family: var(--font-paragraph);
}

.logInBtn {
    font-size: 20px;
    font-family: var(--font-title);
}

button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

footer {
    height: 100px;
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-image{
    background-image: url("/Images/banner-3.png");
    height: 226px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

nav {
    display: flex;
    color: var(--white);
    height: 30px;
    width: 100%;
    background-color: var(--green);
    padding-top: 4vh;
    padding-bottom: 4vh;
}

nav > a {
    flex-grow: 1;
    text-align: center;
    font-family: var(--font-title);
    text-decoration: none;
    display: flex;
    color: var(--white);
    height: 30px;
    width: 100%;
    background-color: var(--green);
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    transition: all .5s;
}

nav > a:hover{
    color: var(--orange);
}

/* read.php/read.js */
.dogSitter, .readBodyOwner  {
    background-color: var(--orange);
    font-family: var(--font-paragraph);
}

.dogOwner, .readBodySitter {
    background-color: var(--turquoise);
    font-family: var(--font-paragraph);
}

#filterOwner {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: var(--orange);
}

#filterSitter {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: var(--turquoise);
}

#filterSitter > div:nth-child(1) {
    grid-column: 1;
}

#filterSitter > div:nth-child(2) {
    grid-column: 2;
}

#filterSitter > div:nth-child(3) {
    grid-column: 3;
}

#dropBtn {
    height: 50px;
    width: 28VW;
    border-radius: 0px;
    cursor: pointer;
    margin-bottom: 0px;
    font-family: var(--font-title);
    color: var(--black);
    font-size: 30px;
    transition: all .5s; 
    margin: 30px;
    margin-bottom: 0px;
}

#dropBtn:hover{
    background-color: var(--pink);
    transition: all .5s; 
}

#dropOne, #dropTwo, #dropThree {
    margin-left: 30px;
    width: 27.8vw;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

#dropOne > a, #dropTwo > a, #dropThree > a {
    font-size: 20px;
} 

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 150px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    margin-top: 0px;
    margin-left: 60px;
}

.dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropContent {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropContent > a:hover, .downContent > a:hover, .dropDownContent > a:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.downContent {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 150px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    margin-top: 0px;
    margin-left: 100px;
}

.downContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

.active {background-color: var(--pink);}

.listTitle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

#cardOwner {
    border: 10px solid var(--turquoise);
}

#listImage {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    border: 10px solid var(--blue);
    align-self: center;
    margin: 30px;
    border-style: dotted;
    border-width: 6px;
}

.listTitle > div {
    height: 10px;
    width: 100px;
    border-radius: 0px;
    cursor: pointer;
    margin-bottom: 0px;
    text-align: center;
    font-family: var(--font-title);
    text-decoration: none;
    flex-direction: row;
    display: flex;
    color: var(--black);
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: all .5s; 
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 80px;
}

.listTitle > div:first-child {
    margin-left: 60px;
}

.list > div  {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
    background-color: var(--white);
    margin: 30px;
    border: 10px solid var(--green);
    border-radius: 30px;
}

.list > div:last-child {
    margin-bottom: 50px;
}

.list > div > p {
    flex-grow: 1;
    text-align: left;
    padding-left: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.list > div > p:first-child {
    font-family: var(--font-title);
    font-size: 30px;
}

.list > div > a {
    color: var(--orange);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 90px;
    height: 10px;
    align-self: center;
    font-weight: bolder;
}

.list > div > a:hover {
    color: var(--blue);
    transition: all .5s; 
}
/* read.php/read.js */

/* hundtass (logga in) */
.ajax-loader {
    position: relative;
    /* bottom: 21%; */
    left: 30%;
    transform-origin: 50% 50%;
    transform: rotate(30deg) translate(-50%, 0%);
    font-size: 40px;
    width: 1em;
    height: 2em;
}

.paw {
    width: 2em;
    height: 2em;
    opacity: 1;
}

svg {
    width: 100%;
    height: 100%;
}

.icon {
    fill: var(--blue);
}

.paw:nth-child(odd) {
    transform: rotate(-10deg);
}

.paw:nth-child(even) {
    transform: rotate(10deg) translate(125%, 0);
}
/* hundtass (logga in) */

/* Min Profil Sida*/

#wrapper-dog, #wrapper-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6vh;
    border: 2vh solid var(--yellow);
    position: relative;
    left: 329px;
    top: 89px;
    height: 391px;
    border-radius: 50px;
    background-color: var(--blue);
    font-size: 20px;
    color: var(--white);
    width: 700px;
}

#wrapper-contact{
    background-color: var(--pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 220px;
    width: 220px;
    position: relative;
    left: 965px;
    top: -462px;
    flex-direction: column;
    border: 10px solid var(--orange);
    }

#wrapper-owner, #wrapper-extra_info{
    height: 250px;
    width: 250px;
    background-color: var(--green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: -239px;
    top: -345px;
    border: 10px solid var(--pink)
}

#wrapper-profile > h1{
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-title);
    font-size: 8vh;
}

#wrapper-profile > p, #wrapper-owner > p, #wrapper-extra_info > p, #wrapper-contact > p, #wrapper-dog > p, #wrapper-info > p {
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--font-paragraph);
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 2px;
}

#wrapper-dog > p {
    margin-bottom: 20px;
}

#wrapper-contact > p, #wrapper-contact > h2 {
    text-align: center;
    margin-bottom: 5px;
}

#wrapper-dog > p:last-child {
    max-width: 400px;
}

 .profile-image{
    height: 220px;
    width: 220px;
    border: 10px solid var(--green);
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
    left: 614px;
    top: 70px;

 }

.changeSettingsButton{
    position: relative;
    left: 1047px;
    top: -1150px;
    background-color: var(--green);
    color: var(--white);
    font-family: var(--font-title);
    transition: .5 all;
}
.changeSettingsButton:hover{
    background-color: var(--turquoise);
}

.delete-account-button{
    position: relative;
    left: 1006px;
    top: -1227px;
    background-color: var(--orange);
    color: var(--white);
    font-family: var(--font-title);
    transition: .5 all;
}
.delete-account-button:hover{
    background-color: var(--pink);
}

 img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-repeat: no-repeat;
 }
 #wrapper-profile{
background-color: var(--purple);
height: 100%;
width: 100%;
overflow: hidden;
 }

 #wrapper-owner >h2, #wrapper-contact >h2{
     color: var(--white);
     font-family: var(--font-title);
 }

/* createAS */ 
#createAsWrapper {
    height: 100vh;
    width: 100vw;
    background-color: #BDD68A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-title);
    font-size: 25px;
}

#contentWrapper {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 5vh;
}

#buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttonsDiv > p {
    margin: 30px;
}

.dogSitterButton, .dogOwnerButton {
    height: 150px;
    width: 150px;
    font-size: 25px;
    font-family: var(--font-title);
    transition: all .5s;
    box-shadow: 10px 5px 10px #212121;
}

/* slut på createAs */


/* #profile-image{
    height: 200px;
    width: 200px;
    border: 10px solid var(--green);
    border-radius: 50%;
    position: relative;
    top: 6vh;
    left: 68vw;
}

#profile-image-dog{
    height: 200px;
    width: 200px;
    border: 10px solid var(--yellow);
    border-radius: 50%;
    position: relative;
    top: -9vh;
    left: 78vw; 
} */

/* create DogOwner */

.welcomemessage {
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: 1 / 3;
    font-size: 3vh;
}

.welcomemessage > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
}

#dogDays {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: var(--white);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    grid-column: 2;
    margin-top: 5vh;
    padding-top: 5vh;
    height: 80vh;

}

#dogowner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-right: 5px solid var(--pink);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    grid-column: 1;
    margin-top: 5vh;
    padding-top: 5vh;
    height: 80vh;

}

.createButton {
    position: relative;
    left: 47vw;
    bottom: 10vh;
    height: 15vh;
    width: 15vh;
    background-color: var(--green);
    font-family: var(--font-title);
}

#dogPicDiv {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    height: 80vh;
    margin-top: 5vh;

}

.dogPic {
    height: 30vh;
    width: 30vh;
    background-image: url(Images/dogavatar.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid black;
}

#dogDiv {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 80vh;
    margin-top: 5vh;

}

#dogDiv > #genderDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15vw;
} 

.extraInfo {
    height: 20vh;
    width: 200px;
    /* margin-left: 10vh; */
} 

/* create DogSitter */ 

.createAccount {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: var(--font-title);
    width: 60vw;
}

#createDogsitter {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    border-right: 5px solid var(--pink);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 105vh;
}

#profilePicDiv {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: var(--white);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    margin-top: 5vh;    
}

#actualPicture {
    height: 30vh;
    width: 30vh;
    background-image: url(images/avatar.jpeg);
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    border: 2px solid black;
}

#createAreaBox {
    background-color: var(--white);
    grid-column: 2;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 105vh;
}

/* #createAreaBox > input {
    width: 3vh;
    height: 3vh;
}
input#Fosie, input#Husie, input#Hyllie, input#Kirseberg, input#Limhamn-Bunkeflo, input#MalmoCentrum, input#Oxie, input#Rosengard, input#SodraInnerstaden, input#VastraInnerstaden {
    width: 4vh;
    height: 4vh;
} */

.genderCheckbox {
    width: 4vh;
    height: 4vh;
}

.areaCheckbox {
    width: 4vh;
    height: 4vh;
    margin-left: 6vw;
}

.eachDayBox {
    width: 4vh;
    height: 4vh;
    /* margin-left: 6vw; */
}

.createDetails {
    margin-top: 0px;
    width: 200px;
    /* margin-left: 10vh; */
}

.areasText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayWrapper {
    margin-left: 6vw;    
}

#createDayBox { 
    padding-top: 5vh;
    background-color: var(--white);
    grid-column: 1;
    border-right: 5px solid var(--pink);
    margin-top: 5vh;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

/* slut på create dogSitter */ 

/*Update.php*/
#dogsitter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#dayBoxUpdate { 
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.dayWrapperUpdate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}
#areaBoxUpdate {
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2-update{
    font-family: var(--font-title);
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-account{    
    font-family: var(--font-title);
    width: 50vw;
    background-color: var(--pink);
    border-radius: 50px;
    border: 10px solid var(--turquoise);
}
.uploadImageUpdate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.update-button{
    height: 85px;
    width: 85px;
    margin: 10px;
    border-radius: 100%;
    background-color: var(--turquoise);
    transition: all .5s;
    font-size: 17px;
    box-shadow: 5px 5px 5px #212121;
    font-family: var(--font-title);
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-button:hover{
    background-color: var(--blue);
    color: var(--white);
}
.update-button-wrapper{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .feedbackDiv {
    position: fixed;
    top: 30vh;
    left: calc(50vw - 25vh);
    width: 50vh;
    height: 50vh;
    background-color: var(--green);
    font-family: var(--font-title);
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--orange);
    border-radius: 50%;
    text-align: center;
} */
.feedbackMessage {
    font-family: var(--font-title);
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#messageCreate {
    margin-left: 8px;
    font-weight: bolder;
}

#messageCreate:hover {
    color: var(--orange);
}

.backToHomeCreate {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: var(--white);
    font-size: 30px;
    font-family: var(--font-title);
    transition: all .5s;
    box-shadow: 5px 5px 5px #212121;
    position: absolute;
    right: 3%;
    top: 27%;
    margin: 20px;
}

#output_image
{
 max-width:300px;
}

.selectList {
    width: 200px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.updateFields {
    width: 200px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.updateFieldExtra {
    width: 200px;
    height: 100px;
    margin: 10px;
    text-align: center;
}