:root {
    --color-paragraph: 212121;
    --white: #FCF7F5;
    --green: #BDD68A;
    --pink: #F7C0B4;
    --blue: #7EB4C7;
    --yellow: #FED749;
    --orange: #F08C67;
    --turquoise: #8FCAAE;
    --black: #212121;

    --font-title: Indie Flower;
    --font-paragraph: Rounded Mplus 1c;
    --home-btn: 200px;
}


body {
    margin: 0px;
    height: 100vh;
}

.homePage {
    background-color: var(--blue);
    font-family: var(--font-title);
}

.homePagebuttonOne {
    height: var(--home-btn);
    width: var(--home-btn);
    border-radius: 100px;
    background-color: var(--pink);
    position: relative;
    left: 66vw;
    top: -140vh;
    font-size: 30px;
    font-family: var(--font-title);
}

.homePagebuttonTwo {
    height: var(--home-btn);
    width: var(--home-btn);
    border-radius: 100px;
    background-color: var(--white);
    position: relative;
    left: 65vw;
    top: -130vh;
    font-size: 30px;
    font-family: var(--font-title);
}

.homePagebuttonThree {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--pink);
    margin-left: 50px;
    margin-top: 30px;
    font-family: var(--font-title);
}

.homePagebuttonOne:hover {
    background-color: var(--white);
    cursor: pointer;
}

.homePagebuttonTwo:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.homePagebuttonThree:hover {
    background-color: var(--white);
    cursor: pointer;
}

.homePageTitle {
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePageImgOne {
    background-image: url(Images/dog_banana.jpg);
    height: 450px;
    width: 450px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    border: 10px solid var(--green);
    position: relative;
    left: -3vw;
    top: -10vh;
}

.homePageImgTwo {
    height: 650px;
    width: 650px;
    background-image: url(Images/woman-with-dog.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 100%;
    border: 10px solid var(--orange);
    position: relative;
    left: 21vw;
    top: -38vh;
}

.homePageImgThree {
    height: 400px;
    width: 400px;
    background-image: url(Images/puppy.jpg);
    background-size: cover;
    background-position: bottom;
    border: 10px solid var(--yellow);
    position: relative;
    border-radius: 100%;
}

.partOne {
    height: 145vh;
}

.partOne > div:nth-child(1) {
    padding-top: 30px;
}

.partTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#first {
    grid-column: 1;
    grid-row: 1;
}

#first > div:nth-child(1) {
    padding-left: 50px;
    font-size: 60px;
}

#first> div:nth-child(2) {
    padding-left: 50px;
    padding-top: 20px;
}

#second {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logIn {
    display: grid;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    height: 59%;
    background-color: var(--green);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.logInText {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    display: flex;
    grid-column: 3;
    grid-row: 1;
    align-items: center;
    justify-content: center;
}

.form {
    grid-column: 3;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

input {
    height: 40px;
    width: 200px;
    margin: 10px;
}

button {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 100%;
    background-color: var(--white);
}

button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

footer {
    height: 100px;
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#header-image{
    background-image: url("/Images/banner-2.jpg");
    height: 200px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

nav {
    display: flex;
    color: var(--white);
    height: 30px;
    width: 100%;
    background-color: var(--green);
    padding-top: 4vh;
    padding-bottom: 4vh;
}

nav > a {
flex-grow: 1;
text-align: center;
font-family: var(--font-title);
text-decoration: none;
display: flex;
color: var(--white);
height: 30px;
width: 100%;
background-color: var(--green);
justify-content: center;
align-items: center;
font-size: 6vh;
transition: all .5s;
}
nav > a:hover{
    color: var(--orange);
}


.ajax-loader {
    position: relative;
    bottom: 20%;
    left: 30%;
    transform-origin: 50% 50%;
    transform: rotate(30deg) translate(-50%, 0%);
    font-size: 40px;
    width: 1em;
    height: 2em;
    color: #d31145;
}

.paw {
    width: 2em;
    height: 2em;
    opacity: 1;
}

svg {
    width: 100%;
    height: 100%;
}

.icon {
    fill: var(--blue);
}

.paw:nth-child(odd) {
    transform: rotate(-10deg);
}

.paw:nth-child(even) {
    transform: rotate(10deg) translate(125%, 0);
}

#wrapper-dog, #wrapper-info{
    height: 35vh;
    width: 40vw;
    background-color: var(--blue);
    border-radius: 40px;
    position: relative;
    left: 12vw;
    top: -37vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
#wrapper-contact{
    height: 25vh;
    width: 25vw;
    background-color: var(--pink);
    border-radius: 40px;
    position: relative;
    left: 36vw;
    top: 30vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#wrapper-owner, #wrapper-extra_info{
    height: 45vh;
    width: 30vw;
    background-color: var(--yellow);
    border-radius: 40px;
    position: relative;
    left: 61vw;
    top: -35vh;
    display: flex;
    justify-content: center;
  
    flex-wrap: wrap;
}
 #wrapper-profile > h1{
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-title);
    
 }
 
 #wrapper-profile > p, #wrapper-owner > p, #wrapper-extra_info > p, #wrapper-contact > p, #wrapper-dog > p, #wrapper-info > p {
     color: var(--black);
     font-size: 2vh;
     font-family: var(--font-paragraph);
     margin-left: 4px;
     margin-right: 4px;
     display: flex;
    justify-content: center;
    align-items: center;
 }
 /* #wrapper-profile{

 } */

 #change-settings-button{
    position: relative;
    left: 85vw;
    top: 14vh;
 }

 #delete-account-button{
    position: relative;
    left: 78vw;
    top: -5vh;
 }

/* createAS */ 
#createAsWrapper {
    height: 60vh;
    width: 100vw;
    background-color: #BDD68A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-title);
    font-size: 25px;
}

#contentWrapper {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 5vh;
}

#buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* slut på createAs */


#profile-image{
    height: 200px;
    width: 200px;
    border: 10px solid var(--green);
    border-radius: 50%;
    position: relative;
    top: 6vh;
    left: 68vw;
}

#profile-image-dog{
    height: 200px;
    width: 200px;
    border: 10px solid var(--yellow);
    border-radius: 50%;
    position: relative;
    top: -9vh;
    left: 78vw; 
}

#createDogowner {
    font-family: var(--font-title);
    display: flex;
}

.welcomeMessage {
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}
.welcomeMessage > p {
    display: flex;
    justify-content: center;
    align-items: center;
}
#dogDiv {
    background-color: var(--green);
    height: 60vh;
    width: 60vh;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1vh solid #F7C0B4;
}
#dogDiv > #genderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
} 
